[Unit]
Description=Power Window App

[Service]
ExecStartPre=/usr/bin/systemctl stop psplash-start.service
ExecStart=/usr/bin/power-window-app
Restart=on-failure
Environment=QT_QPA_PLATFORM=linuxfb:fb=/dev/fb0:rotate=90
Environment=QT_QPA_EVDEV_TOUCHSCREEN_PARAMETERS=/dev/input/event0:rotate=90
Environment=QML_DISABLE_DISK_CACHE=1
Environment=OWM_API_KEY=60a72cd7cacc7d341a916beeb047f826
Environment=QT_IM_MODULE=qtvirtualkeyboard

[Install]
WantedBy=multi-user.target