# CONFIG_BRIDGE is not set
# CONFIG_PPP is not set
# CONFIG_SLIP is not set

# CONFIG_ETHERNET is not set
# CONFIG_STMMAC_ETH is not set
# CONFIG_DWMAC_ROCKCHIP is not set
# CONFIG_PHYLIB is not set
# CONFIG_MOTORCOMM_PHY is not set
# CONFIG_MII is not set

# CONFIG_RPS is not set
# CONFIG_RFS_ACCEL is not set
# CONFIG_XPS is not set
# CONFIG_NET_RX_BUSY_POLL is not set
# CONFIG_BQL is not set
